submit Folder: "D:\submitFolder"
working Directory: "D:\workingDir"
Uploaded Files store in: "C:\uploadedTemp" 
wait for each code execute: "10" (seconds)
score = "30%"project1 + "70%"project2
subject = 5 : KTMT , HTS , KTLT , CTDL , OOP 
////////
<!-- WARNING: editing the value below will stop the server immediately -->
server is RUNNING = true 